.page-header{
    padding-top: 7.0rem;
}
.jumbotron{
    /**background: #26547D;**/
    text-align: center;
    margin-left: 5.0rem;
    padding-top: 1.5rem;
    margin-right: 1.0rem;
}


/*estilo de la foto de perfil*/
@media(min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width:15%;
        border-radius: 85%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        top: 550px;
    }
}

@media(max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width:35%;
        border-radius: 85%;
        box-shadow: 3px 3px 3px grey;
        left: 34%;
        top: 630px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}