<body>
<div class="page-header">
    <h1></h1>
  </div>
<div class="jumbotron">

<div class="col-xs-12 col-sm-2 col-lg-2">
    <img src={{persona.img}} class="img fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
<p>Full Stack Developer Jr.</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi.</h1>
        <p>{{persona.descripcion}}</p>
    </span>
</div>
<div class="row" *ngIf="persona">
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" data-toggle="modal" routerLink="/editacercade/{{1}}" *ngIf="isLogged" data-target="#editAcercaDe" data-whatever="@mdo" >
           Editar Perfil
        </button>
    </div>
</div>
</div>
</body>

<style>
    body {
      background-image: url("");
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
  </style>