div{
    
    background-color: #040D19;
}

app-logo{
    float:left;
}
.row{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    }
    
