.row{
  margin: auto 20px;
    
}

.btn{
    border-width: medium;
}
/**para celular**/
@media(max-width:575px){
div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: baseline;
}
}
