/**.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    }
.btn{
    border-width: medium;
} 
.row{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
**/


#logoAP{
    width: 150px;
}

img{
    margin: auto 15px;

}

/**para celular
@media(max-width:450px){
    .redes{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
**/ 
