<app-h-s-skills></app-h-s-skills>
<div class="modal fade" id="agregarSkill" tabindex="-1" role="dialog" aria-labelledby="agregarSkill" data-backdrop="false"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarSkill">Agregar Skill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombre">Skill</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="porcentaje">Ingresar Porcentaje</label>
                        <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Agregar</button>

                    </div>
                </form>
            </div>

        </div>
    </div>

<!--<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nueva Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <button class="btn btn-primary">
                    Agregar skill
                </button>
            </form>
        </div>
    </div>
</div>--->
