
footer{
    padding: 0px;
    position: fixed;
    float: center;
    background: #121012;
    font-size: 12px;
    text-shadow: #b127b1;
    display: flex;
    flex-direction: column;
    text-align: center;
   bottom:0;
   width:100%;
   height:60px; 
 margin-left: 15px ;
 color: rgb(10, 99, 105);
}