<app-experiencia></app-experiencia>
<div class="modal fade" id="agregarExperiencia" tabindex="-1" role="dialog" aria-labelledby="agregarExperiencia" data-backdrop="false"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarExperiencia">Agregar Experiencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreE">Trabajo</label>
                        <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionE">Descripcion de la tarea</label>
                        <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Agregar</button>

                    </div>
                </form>
            </div>

        </div>
    </div>

<!--<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Trabajo</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion de la tarea</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <button class="btn btn-primary">
                    Agregar experiencia
                </button>
            </form>
        </div>
    </div>
</div>--->