<body>
<div class="page-header">
    <h1></h1>
  </div>
<div class="jumbotron">
<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" data-toggle="modal" routerLink="/nuevaedu" *ngIf="isLogged" data-target="#agregarEducacion" data-whatever="@mdo" >
            Agregar Educacion
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h2>{{Educacion.nombreE}}</h2>
                    </td>
                    <td>
                        <h2>{{Educacion.descripcionE}}</h2>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-primary"  data-toggle="modal" data-target="#editarEducacion" data-whatever="@mdo" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-square"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-danger"(click)="delete(Educacion.id)">
                            <i class="bi bi-trash3"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
</div>
</body>

<style>
    body {
      background-image: url("");
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
  </style>